<!-- <h2>Add New Expense</h2>
<div>
  <label>Shop:
    <input #expenseShop />
  </label> -->
  <!-- (click) passes input value to add() and then clears the input -->
  <!-- <button (click)="add(expenseShop.value); expenseShop.value=''">
    add
  </button>
</div> -->
<div class="add-expense-section">
  <form *ngIf="expenseForm" [formGroup]="expenseForm">
    <h2>Add expense</h2>
    <label>Id</label>
    <input formControlName="id" placeholder="Id"><br>
    <div *ngIf="id.invalid && (id.dirty || id.touched)"
  class="alert alert-danger">

<div *ngIf="id.errors.required">
  Id is required.
</div>
<div *ngIf="id.errors.pattern">
  Only numbers.
</div>
</div>
  <label>Shop</label>
    <input formControlName="shop" placeholder="Shop"><br>
    <label>Price</label>
    <input formControlName="price" placeholder="Price"><br>
    <label>Date</label>
    <input formControlName="date" placeholder="Date"><br>
    <label>Time</label>
    <input formControlName="time" placeholder="Time"><br>
    <label>Payment Method</label>
    <input formControlName="paymentMethod" placeholder="Payment Method"><br>
    <label>Document</label>
    <input formControlName="document" placeholder="Document"><br>

    <button (click)="sendData()">Submit</button>
</form>
</div>
<h2 class="expense-header">My Expenses</h2>
  <table class="expenses-table">
    <thead>
      <td>id</td>
      <td>shop</td>
      <td>price</td>
      <td>date</td>
      <td>time</td>
      <td>payment method</td>
      <td>link</td>
      <td>delete</td>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenses">
        <td>{{expense.id}}</td>
        <td><a routerLink="/detail/{{expense.id}}">{{expense.shop}}</a></td>
        <td>{{expense.price}}</td>
        <td>{{expense.date}}</td>
        <td>{{expense.time}}</td>
        <td>{{expense.paymentMethod}}</td>
        <td>{{expense.document}}</td>
        <td><button class="delete" title="delete expense"
          (click)="delete(expense)">x</button></td>
      </tr>
    </tbody>
  </table>
